.text {
  width: 200px;
  padding: 15px;
}
/* position: static, relative, absolute, fixed, sticky  */
/* top, left, right, bottom */
.blue {
  background-color: blue;
  color: white;
}

.yellow {
  background-color: yellowgreen;
}
.lime {
  background-color: lime;
}
dt {
  background-color: black;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
}
